# Игнорируем стандартные файлы и директории
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Игнорируем временные файлы
*.log
*.tmp
*.temp
*.bak

# Игнорируем виртуальные окружения
venv/
env/
.venv/
.env/

# Игнорируем системные файлы
.DS_Store
Thumbs.db

# Игнорируем конфиденциальные файлы
*.env

# Игнорируем файлы настроек IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Добавьте свои файлы или директории, которые хотите игнорировать
LICENSE
.git/
